*.o
.DS_Store
*~
*.uvopt
*.dep
*.bak
*.uvgui.*
*.swp
*.save
.project
.settings
.cproject
obj/
patches/
tools/
startup_stm32f10x_md_gcc.s
.idea

# artefacts of top-level Makefile

build/

FW/
/FW/
/FW


# artefacts for VisualGDB (running in Visual Studio)
mcu.mak
mcu.mak.old
stm32.mak


# artefacts for Visual Studio Code
/.vscode/
.vscode/
.vscode/*
.vscode/c_cpp_properties.json
null.d
